* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.capa {
  width: 100%;
  height: 100%;
}

.capa img {
  width: 100%;
  height: 50%;
  align-self: center;
}

.btn { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.botao {
  padding: 10px 10px;  
  width: 260px;
  color: #fff;
  background: #1C2E4A;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 7px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-family: "Roboto", monospace;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

.botao:hover {
  background: #1c488f;
  transition: 1s;
}

.btn2{
  background-image:url(./imagens/capa-red-jpg.jpg);
  background-image: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100%;
  padding-top: 20px;
  align-items: center;
}

.conteudo {
  background-color: white;
  padding: 20px;
  font-family: "Roboto", monospace;
  color: rgb(76, 70, 70);
  /*border: 10px solid red; visualização */
}

#cta {
  padding-top: 10px;
  font-family: "Montserrat", monospace;
  text-align: center;
  font-size: x-large;
}

#frase-especialista {
  text-align: center;
}

img.tracejado {
  width: 300px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.titulo-conteudo {
  color:#1C2E4A;
  text-align: center;
}

span {
  color: #1c488f;
}

.quem-sou {
  font-family: "Montserrat", monospace;
  font-weight: bolder;
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}

#quem-sou-headline {
  font-family: "Roboto", monospace;
  padding-top: 10px;
  padding-bottom: 20px;
}

.quem-sou-paragrafo {
  font-size: smaller;
  justify-content: center;
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  width: 50%;
  padding-bottom: 25px;
}

#testimonial h1{
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem 0;
  font-family: "Roboto", monospace;
  font-size: 20px;
  color:#1C2E4A;
}

.cartoes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 980px;
  margin: 0 auto;
  grid-gap: 40px;
}

.cartao {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 35px 40px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.171);
}

.cartao .usuario {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cartao h3 {
  font-family: "Montserrat", monospace;
  margin-bottom: 5px;
}

.cartao p {
  font-family: "Roboto", monospace;
  font-size: medium;
}

.estrela {
  width: 20px;
  padding-bottom: 10px;
}

#rodape {
  margin: 0px;
  background-color: black;
  text-align: center;
  color: #fff;
  font-family: "Roboto", monospace;
}

#foto-de-perfil {
  background-color: 0;
  padding: 2px;
  border-width: 3px;
  border-color: #1C2E4A;
  border-radius: 100%;
  border-style: solid;
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  }

